typer[all]==0.12.5
rich==13.9.2
PyPDF2==3.0.1
PyYAML==6.0.2
pytest==8.3.3
pdfminer.six==20240706
langchain==0.3.7
langchain-community==0.3.7
langchain-text-splitters==0.3.2
faiss-cpu==1.8.0
sentence-transformers==3.2.1
rank_bm25==0.2.2
tiktoken==0.7.0
